<%- include("partials/header")-%>

<h1>Contact Us</h1>
<a href="<% link %>" target="_blank"><i class="lni lni-github-original w3-xxxlarge"></i></a>
<a href="<% link %>" target="_blank"><i class="lni lni-linkedin-original w3-xxxlarge"></i></a>
<a href="<% link %>" target="_blank"><i class="lni lni-twitter-original w3-xxxlarge"></i></a>

<%- include("partials/footer")-%>
